.container {
    /* max-width: 1140px; */
    max-width: 1500px;
}

/* Table */
table, tr, th, td {
    border: 1px solid lightgray;
}

th {
    background-color: lightgray;
}

td {
    text-align: center
}